{
  "boardgames": [
    {
      "id": "1",
      "name": "Coup",
      "min_player": "2",
      "max_player": "6"
    },
    {
      "id": "2",
      "name": "Kittens in a Blender",
      "min_player": "2",
      "max_player": "8"
    },
    {
      "id": "3",
      "name": "Catan",
      "min_player": "2",
      "max_player": "4"
    },
    {
      "id": "4",
      "name": "Karmaka",
      "min_player": "2",
      "max_player": "4"
    },
    {
      "id": "5",
      "name": "Secret Hitler",
      "min_player": "5",
      "max_player": "10"
    },
    {
      "id": "6",
      "name": "Avalon",
      "min_player": "5",
      "max_player": "10"
    },
    {
      "id": "7",
      "name": "Marble Chess",
      "min_player": "2",
      "max_player": "2"
    },
    {
      "id": "8",
      "name": "Lego Chess",
      "min_player": "2",
      "max_player": "2"
    },
    {
      "id": "9",
      "name": "Kodama",
      "min_player": "2",
      "max_player": "5"
    },
    {
      "id": "10",
      "name": "Seikatsu",
      "min_player": "1",
      "max_player": "4"
    },
    {
      "id": "11",
      "name": "Exploding Kittens",
      "min_player": "2",
      "max_player": "5"
    },
    {
      "id": "12",
      "name": "Boss Monster",
      "min_player": "2",
      "max_player": "4"
    },
    {
      "id": "13",
      "name": "Werewords",
      "min_player": "4",
      "max_player": "20"
    },
    {
      "id": "14",
      "name": "Pandemic",
      "min_player": "2",
      "max_player": "4"
    },
    {
      "id": "15",
      "name": "Onitama",
      "min_player": "2",
      "max_player": "2"
    },
    {
      "id": "16",
      "name": "Code Names",
      "min_player": "2",
      "max_player": "6"
    },
    {
      "id": "17",
      "name": "King of Tokyo",
      "min_player": "2",
      "max_player": "6"
    },
    {
      "id": "18",
      "name": "Love Letters",
      "min_player": "2",
      "max_player": "4"
    }
  ]
}